.cardCast {
    width: 191px;
    height: 336px;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
    
    img {
        height: 222px;
        object-fit: cover;
        border-radius: 4px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
    }
    
    span {
        font-size: 16px;        
    }
}