:root {
    --pink-600: #E73980;
    --pink-900: #861040;
    --gray-500: #646464;
    --gray-700: #323232;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;

    ::-webkit-scrollbar-track {
        background-color: #DDDDDD;
        border-radius: 10px;
    }
    ::-webkit-scrollbar {
        border-radius: 10px;
        height: 12px;
    }
    ::-webkit-scrollbar-thumb {
        background: #ADADAD;
        border-radius: 10px;
    }

    .content {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }

    @media screen and (max-width: 767px) {
        .content {
            padding: 0 20px;
        }
    }
}

h1, h2, h3, h4, h5, h6, span, p, button, input, div {
    font-family: 'Roboto', sans-serif;
}