.bannerDetails {
    background-color: var(--pink-900);
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;

    .details {
        display: flex;

        img {
            height: 450px;
            object-fit: cover;
            border-radius: 8px;
            margin-top: 50px;
        }

        .resume {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            margin-left: 30px;

            h1 {
                font-size: 32px;
            }

            span {
                font-size: 18px;
                font-weight: normal;
            }
            
            span.rating {
                font-size: 16px;
            }

            .box {
                width: 70;
                height: 70;
            }

            h3 {
                margin: 20px 0 10px;
            }

            .description {
                font-size: 16px;
            }

            .characters {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                gap: 15px 100px;
                margin-top: 30px;

                .person {
                    max-width: 174px;

                    .name {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .role {
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .bannerDetails {
        height: auto;
        padding: 30px 0;

        .details {
            img {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .details {
        display: flex;
        flex-direction: column;

        img {
            // width: 186px;
            height: 100%;
            object-fit: cover;
            margin: 0 auto 20px;
        }

        .resume {
            margin-left: 0px;
        }
    }
}


.cardsCast {
    h2 {
        margin: 80px 0 15px;
    }

    .cardsCastRow {
        overflow: auto;
        display: flex;
        gap: 16px;
        padding: 5px 0 20px 5px;
        margin-bottom: 50px !important;
        margin-left: -5px !important;

    }

    @media screen and (max-width: 767px) {
        h2 {
            margin: 30px 0 10px;
        }
    }
}

.trailer {
    h2 {
        margin: 20px 0;
    }

    img {
        width: 100%;
    }
}

.recommendations {
    h2 {
        margin: 30px 0 20px;
    }

    .recommendationsCards {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 0 16px;
    }
}