.bannerDetails {
    background-color: var(--pink-900);
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;

    .details {
        display: flex;

        img {
            height: 450px;
            object-fit: cover;
            border-radius: 8px;
            margin-top: 50px;
        }

        .resume {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            margin-left: 30px;

            h1 {
                font-size: 32px;
            }

            span {
                font-size: 18px;
                font-weight: normal;
            }
            
            span.rating {
                font-size: 16px;
            }
            
            
            .container-circular {
                display: flex;
                align-items: center;
                margin: 20px 0 0;
                gap: 15px;

                > span {
                max-width: 120px;

                }
            }

            .circular-progress {
                position: relative;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background: conic-gradient(#14FF00 250deg, #922853 0deg);
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: #922853;
                }

                .progress-value {
                    position: relative;
                    color: #14FF00;
                    font-size: 16px;
                    font-weight: bold;
                }
            }


            h3 {
                margin: 20px 0 10px;
            }

            .description {
                font-size: 16px;
            }

            .characters {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                gap: 15px 100px;
                margin-top: 30px;

                .person {
                    width: 174px;

                    .name {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .role {
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
            @media screen and (max-width: 767px) {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .bannerDetails {
        height: auto;
        padding: 30px 0;

        .details {
            img {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .details {
        display: flex;
        flex-direction: column;

        img {
            height: 100%;
            object-fit: cover;
            margin: 0 auto 20px;
        }

        .resume {
            margin-left: 0px;
        }
    }
}


.cardsCast {
    h2 {
        margin: 80px 0 15px;
    }

    .cardsCastRow {
        overflow: auto;
        display: flex;
        gap: 16px;
        padding: 5px 0 20px 5px;
        margin-bottom: 50px !important;
        margin-left: -5px !important;

        .cardCast {
            width: 191px;
            height: 336px;
            padding: 8px;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
            
            img {
                width: 175px;
                height: 222px;
                object-fit: cover;
                border-radius: 4px;
            }
        
            .name {
                font-size: 18px;
                display: block;
                font-weight: bold;
                margin: 10px 0;
            }
            
            .character {
                font-size: 16px;        
            }
        }

    }

    @media screen and (max-width: 767px) {
        h2 {
            margin: 30px 0 10px;
        }
    }
}

.trailer {
    h2 {
        margin: 20px 0;
    }

    iframe {
        display: flex;
        margin: 0 auto;
        border: 0;
        border-radius: 10px;

        @media screen and (max-width: 910px) {
            width: 100%;
        }
    }
}

.recommendations {
    margin-bottom: 50px;

    h2.titleRecommendations {
        margin: 40px 0 20px;
    }

    .recommendationsCards {
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            column-gap: 1rem;
            row-gap: 3rem;
            
            li {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .backHome {
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 60px auto;        
        padding: 20px;
        background-color: var(--gray-500);
        color: white;
        max-width: 300px;
        border-radius: 8px;
        transition: 0.2s;

        &:hover {
            opacity: 0.9;
        }
    }
}